body{
background-image:url("/home/itsec2/Downloads/photo-1507146426996-ef05306b995a.jpeg");
background-repeat:repeat-x;
background-attachment:fixed;
}
span.ab{
display:inline;
width:600px;
height:100px;
padding:20px;
border:3px solid blue;
background-color:silver;
}

div.ab{
display:none;
background-color:green;
color:white;
padding:25px;
text-align:center;}

div.ba:hover{
background-color:blue;
}
p{

background-color:yellow;
padding:20px;
}
div.d:hover p{
color:blue;
}
p::first-line {
color:red;
font-variant:small-caps;
}
div::first-letter{
color:blue;
font-size:xx-large;}
div::before{
content:url(/home/itsec2/Pictures/pexels-photo-1108099.jpeg);
}
h1::after{
content:url(/home/itsec2/Pictures/pexels-photo-1108099.jpeg);
}
::selection{
color:white;
background:pink;
}
img:hover{
opacity:0.5;
filter:alpha(opacity=150);
}
div{
background-color:purple;
padding:20px;
}
div.f{
opacity:0.7;
filter:alpha(opacity=100);
}
div.s{
opacity:0.5;
filter:alpha(opacity=70);
}

div.a{
display:inline;
width:400px;
height:50px;
padding:20px;
border:3px solid blue;
background-image:url(/home/itsec2/Downloads/photo-1507146426996-ef05306b995a.jpeg);
}
div:hover{
width:100px;
height:100px;
transition:width 2s,height 4s;
}
