body{
background-image:url("/home/itsec2/Downloads/photo-1507146426996-ef05306b995a.jpeg");
background-repeat:repeat-y;

}
p{
color:red;
padding:50px;
}
#id1{
color:red;
background:blue;
}
p.txt{
color:green;

}
h1,p{
color:red;

}
h1{
margin-left:20px;
background:lightblue;
}
img{
opacity:0.5;
filter:alpha(opacity=75);
}
p.dotted{
border-style:dotted;
color:red;
border-width:4px;
border:10px solid green;
}
h1.abc{
width:50%;
margin-left:50px;
margin-right:25px;
margin-top:20px;
margin-bottom:20px;}
div{
display:inline;
width:200px;
height:50px;
padding:20px;
border:25px solid navy;
}

